* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

hr {
  color: transparent;
}

@font-face {
  font-family: "Bebas Neue Book";
  src: url(../fonts/BebasNeueBook.woff2) format("woff2");
  src: url(../fonts/BebasNeueBook.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.mobile-menu {
  display: none;
}

.header {
  padding-top: 5.875rem;
}

.kunteynir {
  max-width: 92rem;
  margin: auto;
  padding: 0 15px;
}

.header-image {
  position: relative;
  background: url("../img/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  background-position-y: -15.875rem;
}

.header-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 45, 51, 0.75);
  z-index: 0;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  color: white;
  height: 5.875rem;
  border-bottom: 1px solid rgba(235, 2235, 240, 0.2);
  z-index: 2;
  transition:
    background-color 0.2s,
    height 0.2s;
}

.logo-svg {
  width: 10.3125rem;
  height: 2.8125rem;
}

.logo {
  display: none;
}

.navbar-light {
  background-color: white;
  color: #292d33;
  height: 4.625rem;
}

.navbar-light .header-logo-path {
  fill: #292d33;
}

.header-logo {
  display: flex;
  align-items: center;
  padding: 0 2.375rem 0 2.25rem;
  border-right: 1px solid rgba(235, 2235, 240, 0.2);
  height: 100%;
}

.header-nav {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  height: 100%;
  list-style: none;
  padding: 0;
  padding-left: 3.125rem;
  margin: 0;
}

.header-nav-item {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-nav-item:not(:last-child) {
  margin-right: 3.125rem;
}

.header-nav-link {
  position: relative;
  text-decoration: none;
  font-size: 1rem;
  line-height: 160%;
  color: inherit;
  letter-spacing: 0.0125rem;
  display: flex;
  height: 100%;
  align-items: center;
}

.header-nav-link:after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  bottom: -1px;
  right: auto;
  background-color: #5c8ee6;
  transition: width 0.2s;
}

.header-nav-link:hover:after {
  width: 100%;
}

.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.phone-icon {
  fill: #5c8ee6;
}

.header-phone-link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
  margin-right: 3.125rem;
}

.button {
  color: white;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  background-color: #5c8ee5;
  border: none;
  outline: none;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #3a71d1;
}

.header-button {
  height: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  letter-spacing: 0.0125rem;
  padding: 1.5625rem 3.3125rem;
}

.header-button .icon-bts {
  display: none;
}

.seporator {
  background: #5c8ee6;
  width: 9.375rem;
  height: 0.125rem;
}

.header-content {
  position: relative;
  padding-top: 9.375rem;
  z-index: 1;
  color: white;
}

.header-title {
  max-width: 73.75rem;
  font-family: "Bebas Neue Book";
  font-size: 5rem;
  line-height: 120%;
  margin: 1.875rem 0;
  letter-spacing: 0.0344rem;
}

.header-text {
  max-width: 45rem;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: 3.25rem;
  letter-spacing: 0.0063rem;
}

.header-features {
  position: relative;
  display: flex;
  min-height: 10.5rem;
  padding: 0;
  margin-top: 6.25rem;
  margin-bottom: 0;
  list-style: none;
  color: white;
}

.header-features-item {
  padding: 1.875rem 3.125rem 0.8125rem 3rem;
  border: 1px solid rgba(235, 235, 240, 0.2);
  width: 18rem;
  height: auto;
}

.header-features-text {
  font-size: 1rem;
  line-height: 160%;
  font-weight: 400;
  max-width: 11.75rem;
}

.bts-main {
  padding: 1.5625rem 3.75rem;
  letter-spacing: 0.0187rem;
  transition:
    background-color 0.2s,
    transform 0.2s;
}

.bts-main:hover {
  background-color: #3a71d1;
  transform: translateY(-2px);
}

.slider-bts {
  display: none;
  height: 44px;
}

.sl-bts {
  display: none;
}

.primary-bts-inner {
  justify-content: flex-end;
  height: 60px;
}

.sll-bts {
  display: flex;
}

.slider-bts-prev,
.slider-bts-next {
  height: 100%;
  flex-basis: 50%;
  border: 1px solid rgba(235, 235, 240, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.primary-bts-prev,
.primary-bts-next {
  height: 100%;
  background-color: #5c8ee5;
  display: flex;
  width: 80px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sl-bts-prev,
.sl-bts-next {
  width: 60px;
}

.sll-bts-prev,
.sll-bts-next {
  width: 80px;
}

.section {
  margin-top: 9.375rem;
  margin-bottom: 8.0625rem;
}

.section-min {
  margin-top: 0;
  margin-bottom: 9.375rem;
}

.section-title {
  font-family: "Bebas Neue Book";
  font-size: 3.75rem;
  line-height: 120%;
  letter-spacing: 0.4px;
  color: #292d33;
  margin-top: 1.875rem;
  margin-bottom: 1.9rem;
}

.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1.875rem;
  margin-bottom: 0;
  margin-top: 1.125rem;
}

.steps-item {
  height: auto;
}

.steps-num {
  font-family: "Bebas Neue Book";
  font-weight: 400;
  font-size: 3rem;
  line-height: 120%;
  color: #5c8ee6;
  display: flex;
  align-items: center;
}

.steps-num::after {
  content: "";
  height: 1px;
  background: #ebebf0;
  width: 60%;
  display: block;
  margin-left: 1.875rem;
  margin-top: -0.3125rem;
}

.steps-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
  margin-top: 1.875rem;
  margin-bottom: 0.625rem;
  max-width: 18.75rem;
}

.steps-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
  width: 18.75rem;
  letter-spacing: 0.0063rem;
}

.bts-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #5c8ee6;
}

.bts-link:before {
  content: "";
  height: 1px;
  background: #5c8ee6;
  display: block;
  width: 2.5rem;
  margin-right: 1.25rem;
  cursor: pointer;
  transition: width 0.2s;
}

.bts-link:hover:before {
  width: 3.75rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3.0625rem;
}

.card {
  border: 1px solid #ebebf0;
  text-decoration: none;
  transition: border-color 0.2s;
}

.card-basis {
  position: relative;
  flex-basis: 33.33%;
}

.card:hover .card-title {
  color: #5c8ee6;
}

.card:hover {
  border-color: #5c8ee6;
}

.card-content {
  padding: 2.5rem 1.75rem 0 3.125rem;
}

.card-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
  margin-top: 0;
  margin-bottom: 0.625rem;
  transition: color 0.2s;
}
.card-text {
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-top: 0;
  width: 83%;
}

.basis-text {
  margin-bottom: 24.625rem;
}

.card-image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

.uniq .section-title {
  margin-bottom: 3.125rem;
}

.uniq-cards {
  display: flex;
}

.uniq-card {
  flex-basis: 50%;
  text-decoration: none;
  border: 1px solid #ebebf0;
  transition: border 0.2s;
  padding: 3.125rem;
  display: grid;
  grid-column-gap: 3.125rem;
  grid-template-columns: 180px 1fr;
  grid-template-rows: 40px 2fr;
  grid-template-areas:
    "logo title title"
    "logo text text";
}

.uniq-card-logo {
  grid-area: logo;
  fill: #828a99;
  transition: fill 0.2s;
  width: 100%;
  height: 100%;
}

.uniq-card-title {
  grid-area: title;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
  margin: 0;
  transition: color 0.2s;
}

.uniq-card-text {
  grid-area: text;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  /* margin: 10px 0 0; */
  width: 85%;
}

.uniq-card:hover {
  border-color: #5c8ee6;
}

.uniq-card:hover .uniq-card-title {
  color: #5c8ee6;
}

.uniq-card:hover .uniq-card-logo {
  fill: #5c8ee6;
}

.founder {
  /* background: url("../img/founder.jpg");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: left top; */
  min-height: 41.25rem;
  position: relative;
}
.founder-photo {
  position: absolute;
  left: 0;
  top: 0;
  width: 43.5%;
  height: 100%;
  object-fit: cover;
}

.founder-inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* padding: 0 3.125rem; */
}

.founder-content {
  max-width: 45rem;
  margin-top: 3.1875rem;
}

.founder .section-title {
  width: 70%;
  margin-bottom: 22px;
}

.founder-text {
  font-size: 1rem;
  line-height: 160%;
  font-weight: 400;
  color: #828a99;
  letter-spacing: 0.2px;
  margin-bottom: 1.875rem;
}

.clients-inner {
  display: flex;
  gap: 3.125rem;
}

.clients-content {
  flex-basis: 49%;
}

.clients-list {
  list-style: none;
  padding: 0;
  columns: 2 auto;
  margin-top: 40px;
}

.clients-list-item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #292d33;
}

.mt-20 {
  margin-top: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.clients-logo-list {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 10;
  margin-top: 32px;
}

.clients-logo-item {
  flex-basis: 33%;
  border: 1px solid #ebebf0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 45px 50px;
  filter: grayscale(100%);
  transition: filter 0.2s;
}

.clients-logo-item:hover {
  filter: grayscale(0%);
}

.clients-logo {
  max-width: 100%;
  width: 70px;
  height: 70px;
}

.sw-blog {
  margin-top: 45px;
}

.blog-card {
  display: flex;
  position: relative;
  min-height: 25rem;
  flex-direction: column;
  text-decoration: none;
  color: white;
  justify-content: flex-end;
  padding: 3.125rem;
}

.blog-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(41, 45, 51, 0.6);
  z-index: -1;
}

.blog-card-image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  z-index: -2;
}

.blog-card-title {
  font-style: normal;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  margin-top: 0;
  margin-bottom: 10px;
}

.blog-card-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin: 0;
}

.blog-slider-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.875rem;
}

.bg-grey {
  background-color: #f0f2f5;
  position: relative;
}

.section-cta {
  position: relative;
  padding-top: 74px;
  margin-top: 14rem;
  padding-bottom: 6.25rem;
}

.cta-form-wrapper {
  display: flex;
  justify-content: flex-end;
}

.cta-form {
  width: 52.5rem;
}

.cta-form-title {
  letter-spacing: 0.2px;
  margin-bottom: 1rem;
}

.cta-image {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 720px;
  width: 50%;
}

.cta-form-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-top: 0;
  margin-bottom: 3.1rem;
  max-width: 40rem;
}

.input-group-wrapper {
  display: flex;
  gap: 1.875rem;
}

.input-group {
  position: relative;
  height: 66px;
  flex-grow: 1;
  background-color: #f0f2f5;
}

.input-group-label {
  position: absolute;
  cursor: text;
  top: 1.5rem;
  left: 1.975rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #828a99;
  transition:
    top 0.2s,
    left 0.2s,
    font-size 0.2s;
}

.input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 1.25rem 1.875rem;
  border: 1px solid #e4e4eb;
  background-color: inherit;
}

.input:focus {
  border: 1px solid #5c8ee6;
  outline: 0;
}

.input:focus ~ .input-group-label,
.input:not(:placeholder-shown).input:not(:focus) ~ .input-group-label {
  top: -0.5rem;
  left: 1.25rem;
  font-size: 0.625rem;
  background-color: inherit;
  padding: 0 10px;
}

.cta-form-footer {
  display: flex;
  margin-top: 1.875rem;
  gap: 1.875rem;
  align-items: center;
}

.cta-form-bts {
  padding: 20px 45px;
  flex-shrink: 0;
}

.notify {
  display: flex;
  align-items: flex-start;
  gap: 0.625rem;
}

.notify-text {
  max-width: 23.75rem;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 160%;
  color: #828a99;
}

.form-icon {
  flex-shrink: 0;
}

.footer-high {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 36px;
}

.footer-logo {
  width: 12.5rem;
  height: 3.75rem;
  margin-right: 6.6rem;
}

.footer-phone {
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 160%;
  text-decoration: underline;
  color: #292d33;
}

.footer-info {
  display: flex;
  align-items: center;
  font-style: normal;
  gap: 10px;
}

.footer-info:nth-child(3) {
  margin-left: 2.1875rem;
}

.footer-info:nth-child(4) {
  margin-right: 1.25rem;
}

.footer-info a {
  text-decoration: none;
}

.footer-info-addres,
.footer-info-email {
  font-style: inherit;
  color: #292d33;
  letter-spacing: 0.2px;
}

.footer-social,
.footer-social-link {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-social-link {
  text-decoration: none;
}

.footer-sep {
  color: rgba(235, 235, 240, 0.2);
  background-color: rgba(235, 235, 240, 0.2);
  height: 1px;
  margin-bottom: 1rem;
  margin-top: 0;
  opacity: 0.2;
}

.footer-low {
  padding-top: 2.125rem;
  padding-bottom: 2.1rem;
  display: flex;
}

.footer-menu-title {
  margin-top: 0;
  margin-bottom: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  font-size: 1rem;
}

.footer-menu-list {
  margin: 0;
  padding-left: 1.25rem;
  list-style: none;
}

.footer-menu-columns {
  columns: 20rem auto;
  min-width: 45rem;
}

.footer-menu-link {
  text-decoration: none;
  color: #828a99;
  font-weight: 400;
  line-height: 160%;
  font-size: 1rem;
  margin-bottom: 0.9375rem;
  display: block;
}

.bold {
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  font-size: 1rem;
  color: #292d33;
  margin-bottom: 1.875rem;
}

.footer-menu-wrapper:last-child {
  margin-left: 10.6rem;
}

.footer-wrap {
  padding-top: 0px;
  padding-bottom: 1.25rem;
  font-style: normal;
  color: #828a99;
}

.footer-wrap,
.footer-legal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-legal {
  gap: 5.3rem;
}

.footer-copy,
.footer-policy,
.made-in {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 160%;
  color: inherit;
}

.footer-copy {
  margin-top: 5px;
}

.footer-author {
  display: flex;
  gap: 10px;
  align-items: center;
}

.modal {
  visibility: hidden;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(40, 45, 51, 0.5);
  z-index: 10;
  display: flex;
}

.modal.is-open {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.modal.is-open .modal-dialog {
  opacity: 1;
}

.modal.is-open .modal-dialog {
  transform: translateY(0);
}

.modal-dialog {
  opacity: 0;
  position: relative;
  margin: 10.75rem auto auto;
  max-width: 28.75rem;
  padding: 2.5rem 3.125rem;
  background-color: #fafbfc;
  transform: translateY(-10%);
  transition:
    transform 0.2s,
    opasity 0.3s;
}

.modal-title {
  font-family: "Bebas Neue Book";
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 120%;
  color: #292d33;
  margin-top: 0;
  margin-bottom: 20px;
}

.modal-close {
  position: absolute;
  top: 40px;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid #ebebf0;
}

.cl-icon {
  width: 24px;
  height: 24px;
}

.modal-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #828a99;
  line-height: 160%;
  margin-bottom: 30px;
}

.input-group-vertical {
  flex-direction: column;
}

.modal-input-group {
  background-color: #fafbfc;
}

.modal-form-footer {
  margin-top: 30px;
}

.modal-form-bts {
  padding: 20px 45px;
  display: block;
  width: 100%;
  margin-bottom: 24px;
}

@media (max-width: 1850px) {
  html {
    font-size: 14px;
  }

  .header-nav-item:not(:last-child) {
    margin-right: 2%;
  }

  .clients-content {
    flex-basis: 55%;
  }
}

@media (max-width: 1650px) {
  .header-image {
    background-position-y: 0;
  }

  .cta-image {
    width: 650px;
  }
}

@media (max-width: 1550px) {
  .header-nav {
    padding-left: 1rem;
  }

  .header-title {
    font-size: 4.5rem;
  }

  .uniq-card-text {
    width: 90%;
  }
}

@media (max-width: 1460px) {
  html {
    font-size: 13px;
  }

  .header-logo {
    padding: 2rem 1rem;
  }

  .logo-svg {
    max-width: 6rem;
  }

  .header-nav-item:not(:last-child) {
    margin-right: 1rem;
  }

  .header-phone-link {
    margin-right: 2rem;
  }

  .steps {
    margin-bottom: 0px;
  }
  .steps-num::after {
    width: 100%;
  }

  .section-cta {
    padding: 50px 0;
  }

  .cta-form {
    width: 700px;
  }

  .cta-form-text {
    max-width: 66%;
  }

  .cta-image {
    width: 575px;
  }

  .footer-logo {
    margin-right: 0;
  }
}

@media (max-width: 1350px) {
  .kunteynir {
    max-width: 80rem;
  }
  .header-nav-item:not(:last-child) {
    margin-right: 1%;
  }

  .header-button {
    padding: 1rem 2.2rem;
  }

  .header-logo {
    padding: 0 1rem;
  }

  .header-nav-item,
  .header-phone-link {
    font-size: 0.75rem;
  }

  .header-phone {
    gap: 0.3rem;
  }

  .header-title {
    font-size: 4rem;
    max-width: 90%;
  }

  .uniq-card {
    grid-template-columns: 100px 1fr;
  }

  .founder-photo {
    width: 40%;
  }

  .clients-content {
    flex-basis: 60%;
  }

  .clients-logo-item {
    padding: 30px;
  }

  .clients-logo {
    width: 50px;
    height: 50px;
  }

  .cta-image {
    left: -150px;
  }

  .footer-high {
    gap: 20px;
  }

  .footer-phone {
    font-size: 22px;
  }

  .footer-info {
    margin: 0;
  }
}

@media (max-width: 1200px) {
  .header-phone {
    display: none;
  }

  .navbar {
    height: 5.8rem;
  }

  .kunteynir {
    max-width: 70rem;
  }

  .slider-bts,
  .sl-bts {
    display: flex;
  }

  .primary-bts-inner {
    height: 40px;
  }

  .primary-bts-prev,
  .primary-bts-next {
    width: 60px;
  }

  .card-basis {
    flex-basis: 50%;
  }

  .uniq-cards {
    flex-direction: column;
  }

  .uniq-card {
    grid-template-columns: auto auto;
  }

  .founder-content {
    max-width: 35rem;
  }

  .blog-card-title {
    font-size: 20px;
    line-height: 120%;
  }

  .cta-image {
    display: none;
  }

  .footer-high {
    flex-direction: column;
  }

  .footer-menu-columns {
    columns: 1;
    min-width: 30rem;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 12px;
  }

  .kunteynir {
    max-width: 60rem;
  }

  .header-nav {
    display: none;
  }

  .header-logo {
    flex-grow: 1;
    justify-content: center;
  }

  .logo-svg {
    max-width: 10rem;
  }

  .header-button {
    padding: 1rem 2.3rem;
  }

  .mobile-menu-toggle {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2.2rem 2.5rem;
    border-right: 1px solid rgba(235, 2235, 240, 0.2);
  }

  .navbar-light .mobile-menu-line {
    background-color: #292d33;
  }

  .mobile-menu-line {
    height: 1px;
    background-color: white;
    width: 100%;
    transition: transform 0.2s;
  }

  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }

  .header-button .text-bts {
    display: none;
  }

  .header-button .icon-bts {
    fill: white;
    display: block;
  }

  .steps {
    margin-bottom: 20px;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
    background-color: white;
    padding-top: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .mobile-menu-nav {
    list-style: none;
    padding: 0;
  }

  .mobile-menu-item {
    margin-bottom: 2rem;
  }

  .mobile-submenu-item:not(:last-child) {
    margin-bottom: 0.69rem;
  }

  .mobile-menu-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: #292d33;
  }
  .mobile-menu.is-open {
    display: block;
  }

  .mobile-submenu {
    list-style: none;
    padding: 0;
    padding-left: 1rem;
    margin-top: 1rem;
  }

  .mobile-submenu-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 160%;
    color: #828a99;
  }

  .mobile-phone {
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    text-decoration: underline;
    color: #292d33;
    border-top: 1px solid #ebebf0;
    padding-top: 2rem;
    display: block;
    margin-bottom: 1.5rem;
  }

  .mobile-info:nth-child(3) {
    margin-bottom: 1rem;
  }

  .mobile-info {
    display: flex;
    align-items: center;
    gap: 0.65rem;
  }

  .mobile-info-addres,
  .mobile-info-email {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #292d33;
  }

  .mobile-social {
    display: flex;
    align-items: center;
    gap: 0.95rem;
    margin-top: 1.3rem;
  }

  .close-menu .mobile-menu-line:nth-child(2) {
    display: none;
  }

  .close-menu .mobile-menu-line:nth-child(1) {
    transform: rotate(45deg) translateY(9px);
  }

  .close-menu .mobile-menu-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-9px);
  }

  .clients-inner {
    flex-direction: column;
  }

  .founder-photo {
    position: relative;
    width: 100%;
    margin-bottom: 3.125rem;
  }
  .blog-card-text {
    display: none;
  }

  .footer-low {
    justify-content: space-between;
  }

  .footer-menu-columns {
    min-width: 221px;
  }
}

@media (max-width: 768px) {
  .kunteynir {
    max-width: 40rem;
  }

  .header-title {
    max-width: 95%;
  }

  .header-content {
    padding-top: 4rem;
  }

  .card-basis {
    flex-basis: 100%;
  }

  .section-title {
    font-size: 2.25rem;
  }

  .founder-content {
    max-width: 100%;
  }

  .footer-low,
  .footer-high,
  .footer-legal,
  .footer-wrap {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-legal,
  .footer-wrap {
    gap: 10px;
  }

  .footer-copy {
    margin: 0;
  }

  .footer-menu-wrapper:last-child .footer-menu-list {
    padding-left: 0;
  }

  .footer-menu-wrapper:last-child,
  .footer-info:nth-child(3) {
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .kunteynir {
    max-width: 100%;
    padding: 0 12px 0 15px;
  }

  .header-image {
    background-position: bottom left;
    background-position-y: 4.6875rem;
    background-position-x: -44.125rem;
  }

  .seporator {
    width: 100px;
  }

  .bts-link {
    font-size: 14px;
  }

  .bts-link:before {
    width: 3.36rem;
    margin-right: 1.7rem;
  }

  .header-title {
    margin-bottom: 1rem;
  }

  .header-text {
    margin-top: 0;
    width: 98%;
    font-size: 1.17rem;
    margin-bottom: 2.5rem;
  }

  .bts-main {
    width: 100%;
    font-size: 1.17rem;
  }

  .header-features {
    margin-top: 4.3rem;
  }

  .header-features-text {
    font-size: 1.17rem;
  }

  .section {
    margin-top: 8.3rem;
  }

  .section-min {
    margin-bottom: 6.3rem;
  }

  .section-title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  .steps-num {
    font-size: 4rem;
  }

  .steps-title {
    margin-top: 5px;
  }

  .steps-text {
    margin-bottom: 2.7rem;
  }

  .steps {
    margin-bottom: 0px;
  }

  .cards {
    margin-top: 2.5rem;
  }

  .card-text {
    letter-spacing: 0.4px;
    width: 100%;
    font-size: 1.17rem;
  }

  .card-title {
    line-height: 1.3;
  }

  .card-content {
    padding: 1.4rem 1.75rem 0 2.5rem;
  }

  .basis-text {
    margin-bottom: 25.6rem;
  }

  .uniq .section-title {
    margin-bottom: 2.2rem;
  }

  .uniq-card {
    padding: 30px;
    grid-column-gap: 35px;
    grid-template-columns: 90px auto;
    grid-template-rows: 100px 2fr;
    grid-template-areas:
      "logo title"
      "text text";
  }

  .uniq-card-title {
    line-height: 1.3;
  }

  .uniq-card-text {
    width: 100%;
    font-size: 14px;
    margin: 20px 0 0;
  }

  .clients-list {
    columns: 1;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .clients-list-item {
    gap: 20px;
    letter-spacing: 0.2px;
    font-size: 14px;
  }

  .mt-20 {
    margin-top: 15px;
  }

  .pl-20 {
    padding-left: 0;
  }

  .clients-logo-list {
    margin-top: 0;
  }

  .clients-logo-item {
    flex-basis: 50%;
  }

  .clients-inner {
    gap: 30px;
  }

  .founder-content {
    margin-top: 10px;
  }

  .founder .section-title,
  .clients .section-title {
    margin-bottom: 0;
  }

  .founder-text {
    font-size: 14px;
    margin-top: 9px;
  }

  .section-cta {
    padding: 28px 0 50px;
  }

  .cta .section-title {
    margin-bottom: 10px;
  }

  .cta-form-text {
    max-width: 100%;
    font-size: 14px;
    margin-bottom: 30px;
  }

  .input-group-wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .input-group {
    height: 62px;
  }

  .cta-form-footer {
    margin-top: 10px;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
  }

  .cta-form-bts {
    width: 100%;
    font-size: 14px;
    letter-spacing: 0.2px;
  }

  .notify {
    gap: 10px;
  }

  .notify-text {
    width: auto;
    font-size: 12px;
  }

  .form-icon {
    transform: translateY(10%);
  }

  .input-group-label {
    left: 30px;
    letter-spacing: 0.8px;
  }

  .input:focus ~ .input-group-label,
  .input:not(:placeholder-shown).input:not(:focus) ~ .input-group-label {
    letter-spacing: normal;
    left: 20px;
    font-size: 10px;
  }

  .footer-high {
    padding-top: 50px;
    gap: 10px;
    padding-bottom: 31px;
  }

  .footer-logo {
    width: 160px;
    height: 50px;
    margin-bottom: 22px;
  }

  .footer-phone {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .footer-info {
    font-size: 14px;
    letter-spacing: 0.2px;
  }
  .footer-info:nth-child(4) {
    margin-bottom: 10px;
  }

  .footer-menu-title,
  .footer-menu-link,
  .bold {
    font-size: 14px;
  }

  .footer-low {
    padding-top: 15px;
    gap: 20px;
    padding-bottom: 20px;
  }

  .footer-menu-title {
    margin-bottom: 20px;
  }

  .footer-menu-list {
    padding-left: 20px;
  }

  .footer-menu-link {
    margin-bottom: 10px;
  }

  .footer-menu-wrapper:last-child .footer-menu-item:not(:last-child) {
    margin-bottom: 30px;
  }

  .footer-copy,
  .footer-policy,
  .made-in {
    font-size: 12px;
  }

  .modal-dialog {
    margin-top: 122px;
    padding: 30px;
    max-width: 345px;
  }

  .modal-title {
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 10px;
  }

  .modal-close {
    width: 40px;
    height: 40px;
    top: 30px;
    right: 30px;
  }

  .cl-icon {
    width: 18px;
    height: 18px;
  }

  .modal-text {
    max-width: 280px;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .modal-input {
    padding: 20px 30px;
  }

  .modal-input-label {
    font-size: 14px;
  }

  .modal-form-footer {
    margin-top: 20px;
  }

  .modal-form-bts {
    font-size: 14px;
    margin-bottom: 18px;
  }
}

@media (min-width: 375px) and (max-width: 399px) {
  .header-features-item:not(:last-child) {
    border-right: none;
  }

  .steps-text {
    width: 80%;
  }
}
