* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@font-face {
  font-family: "Bebas Neue Book";
  src: url(../fonts/BebasNeueBook.woff2) format("woff2");
  src: url(../fonts/BebasNeueBook.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.mobile-menu {
  display: none;
}

.header {
  padding-top: 5.875rem;
}

.kunteynir {
  max-width: 92rem;
  margin: auto;
  padding: 0 15px;
}

.header-image {
  position: relative;
  background: url("../img/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  background-position-y: -15.875rem;
}

.header-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 45, 51, 0.75);
  z-index: 0;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  color: white;
  height: 5.875rem;
  border-bottom: 1px solid rgba(235, 2235, 240, 0.2);
  z-index: 2;
  transition:
    background-color 0.2s,
    height 0.2s;
}

.logo-svg {
  width: 10.3125rem;
  height: 2.8125rem;
}

.logo {
  display: none;
}

.navbar-light {
  background-color: white;
  color: #292d33;
  height: 4.625rem;
}

.navbar-light .header-logo-path {
  fill: #292d33;
}

.header-logo {
  display: flex;
  align-items: center;
  padding: 0 2.375rem 0 2.25rem;
  border-right: 1px solid rgba(235, 2235, 240, 0.2);
  height: 100%;
}

.header-nav {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  height: 100%;
  list-style: none;
  padding: 0;
  padding-left: 3.125rem;
  margin: 0;
}

.header-nav-item {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-nav-item:not(:last-child) {
  margin-right: 3.125rem;
}

.header-nav-link {
  position: relative;
  text-decoration: none;
  font-size: 1rem;
  line-height: 160%;
  color: inherit;
  letter-spacing: 0.0125rem;
  display: flex;
  height: 100%;
  align-items: center;
}

.header-nav-link:after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  bottom: -1px;
  right: auto;
  background-color: #5c8ee6;
  transition: width 0.2s;
}

.header-nav-link:hover:after {
  width: 100%;
}

.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.phone-icon {
  fill: #5c8ee6;
}

.header-phone-link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
  margin-right: 3.125rem;
}

.button {
  color: white;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  background-color: #5c8ee5;
  border: none;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #3a71d1;
}

.header-button {
  height: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  letter-spacing: 0.0125rem;
  padding: 1.5625rem 3.3125rem;
}

.header-button .icon-bts {
  display: none;
}

.seporator {
  background: #5c8ee6;
  width: 9.375rem;
  height: 0.125rem;
}

.header-content {
  position: relative;
  padding-top: 9.375rem;
  z-index: 1;
  color: white;
}

.header-title {
  max-width: 73.75rem;
  font-family: "Bebas Neue Book";
  font-size: 5rem;
  line-height: 120%;
  margin: 1.875rem 0;
  letter-spacing: 0.0344rem;
}

.header-text {
  max-width: 45rem;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: 3.25rem;
  letter-spacing: 0.0063rem;
}

.header-features {
  position: relative;
  display: flex;
  min-height: 10.5rem;
  padding: 0;
  margin-top: 6.25rem;
  margin-bottom: 0;
  list-style: none;
  color: white;
}

.header-features-item {
  padding: 1.875rem 3.125rem 0.8125rem 3rem;
  border: 1px solid rgba(235, 235, 240, 0.2);
  width: 18rem;
  height: auto;
}

.header-features-text {
  font-size: 1rem;
  line-height: 160%;
  font-weight: 400;
  max-width: 11.75rem;
}

.bts-main {
  padding: 1.5625rem 3.75rem;
  letter-spacing: 0.0187rem;
  transition:
    background-color 0.2s,
    transform 0.2s;
}

.bts-main:hover {
  background-color: #3a71d1;
  transform: translateY(-2px);
}

.slider-bts {
  display: none;
  height: 44px;
}

.sl-bts {
  display: none;
  height: 40px;
  justify-content: flex-end;
}

.slider-bts-prev,
.slider-bts-next {
  height: 100%;
  flex-basis: 50%;
  border: 1px solid rgba(235, 235, 240, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sl-bts-prev,
.sl-bts-next {
  height: 100%;
  width: 60px;
  background-color: #5c8ee5;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.section {
  margin-top: 9.375rem;
  margin-bottom: 8.0625rem;
}

.section-min {
  margin-top: 0;
  margin-bottom: 9.375rem;
}

.section-title {
  font-family: "Bebas Neue Book";
  font-size: 3.75rem;
  line-height: 120%;
  letter-spacing: 0.4px;
  color: #292d33;
  margin-top: 1.875rem;
  margin-bottom: 1.9rem;
}

.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1.875rem;
  margin-bottom: 0;
  margin-top: 1.125rem;
}

.steps-item {
  height: auto;
}

.steps-num {
  font-family: "Bebas Neue Book";
  font-weight: 400;
  font-size: 3rem;
  line-height: 120%;
  color: #5c8ee6;
  display: flex;
  align-items: center;
}

.steps-num::after {
  content: "";
  height: 1px;
  background: #ebebf0;
  width: 60%;
  display: block;
  margin-left: 1.875rem;
  margin-top: -0.3125rem;
}

.steps-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
  margin-top: 1.875rem;
  margin-bottom: 0.625rem;
  max-width: 18.75rem;
}

.steps-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
  width: 18.75rem;
  letter-spacing: 0.0063rem;
}

.steps-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #5c8ee6;
}

.steps-link:before {
  content: "";
  height: 1px;
  background: #5c8ee6;
  display: block;
  width: 2.5rem;
  margin-right: 1.25rem;
  cursor: pointer;
  transition: width 0.2s;
}

.steps-link:hover:before {
  width: 3.75rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3.0625rem;
}

.card {
  border: 1px solid #ebebf0;
  text-decoration: none;
  transition: border-color 0.2s;
}

.card-basis {
  position: relative;
  flex-basis: 33.33%;
}
.card-uniq {
  flex-basis: 50%;
}

.card:hover .card-title {
  color: #5c8ee6;
}

.card:hover {
  border-color: #5c8ee6;
}

.card-content {
  padding: 2.5rem 1.75rem 0 3.125rem;
}

.card-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
  margin-top: 0;
  margin-bottom: 0.625rem;
  transition: color 0.2s;
}
.card-text {
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-top: 0;
  width: 83%;
}

.basis-text {
  margin-bottom: 24.625rem;
}

.card-image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

.uniq-content {
  padding: 3.125rem;
  display: flex;
  gap: 3.125rem;
  justify-content: space-between;
  align-items: center;
}

.uniq-svg {
  fill: #828a99;
  width: 180px;
  height: 180px;
  transition: fill 0.2s;
  flex-shrink: 0;
}

.card:hover .uniq-svg {
  fill: #5c8ee6;
}

@media (max-width: 1850px) {
  html {
    font-size: 14px;
  }

  .header-nav-item:not(:last-child) {
    margin-right: 2%;
  }
}

@media (max-width: 1650px) {
  .header-image {
    background-position-y: 0;
  }
}

@media (max-width: 1550px) {
  .header-nav {
    padding-left: 1rem;
  }

  .header-title {
    font-size: 4.5rem;
  }
}

@media (max-width: 1460px) {
  html {
    font-size: 13px;
  }

  .header-logo {
    padding: 2rem 1rem;
  }

  .logo-svg {
    max-width: 6rem;
  }

  .header-nav-item:not(:last-child) {
    margin-right: 1rem;
  }

  .header-phone-link {
    margin-right: 2rem;
  }

  .steps {
    margin-bottom: 0px;
  }
  .steps-num::after {
    width: 100%;
  }
}

@media (max-width: 1350px) {
  .kunteynir {
    max-width: 80rem;
  }
  .header-nav-item:not(:last-child) {
    margin-right: 1%;
  }

  .header-button {
    padding: 1rem 2.2rem;
  }

  .header-logo {
    padding: 0 1rem;
  }

  .header-nav-item,
  .header-phone-link {
    font-size: 0.75rem;
  }

  .header-phone {
    gap: 0.3rem;
  }

  .header-title {
    font-size: 4rem;
    max-width: 90%;
  }

  .uniq-content {
    padding: 2.5rem;
    gap: 1.875rem;
  }

  .uniq-svg {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 1200px) {
  .header-phone {
    display: none;
  }

  .navbar {
    height: 5.8rem;
  }

  .kunteynir {
    max-width: 70rem;
  }

  .slider-bts,
  .sl-bts {
    display: flex;
  }

  .card-basis {
    flex-basis: 50%;
  }

  /* .card-image {
    width: 80%;
  } */

  .uniq-content {
    padding: 2.5rem;
  }

  .uniq-svg {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 12px;
  }

  .kunteynir {
    max-width: 60rem;
  }

  .header-nav {
    display: none;
  }

  .header-logo {
    flex-grow: 1;
    justify-content: center;
  }

  .logo-svg {
    max-width: 10rem;
  }

  .header-button {
    padding: 1rem 2.3rem;
  }

  .mobile-menu-toggle {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2.2rem 2.5rem;
    border-right: 1px solid rgba(235, 2235, 240, 0.2);
  }

  .navbar-light .mobile-menu-line {
    background-color: #292d33;
  }

  .mobile-menu-line {
    height: 1px;
    background-color: white;
    width: 100%;
    transition: transform 0.2s;
  }

  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }

  .header-button .text-bts {
    display: none;
  }

  .header-button .icon-bts {
    fill: white;
    display: block;
  }

  .steps {
    margin-bottom: 20px;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
    background-color: white;
    padding-top: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .mobile-menu-nav {
    list-style: none;
    padding: 0;
  }

  .mobile-menu-item {
    margin-bottom: 2rem;
  }

  .mobile-submenu-item:not(:last-child) {
    margin-bottom: 0.69rem;
  }

  .mobile-menu-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: #292d33;
  }
  .mobile-menu.is-open {
    display: block;
  }

  .mobile-submenu {
    list-style: none;
    padding: 0;
    padding-left: 1rem;
    margin-top: 1rem;
  }

  .mobile-submenu-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 160%;
    color: #828a99;
  }

  .mobile-phone {
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    text-decoration: underline;
    color: #292d33;
    border-top: 1px solid #ebebf0;
    padding-top: 2rem;
    display: block;
    margin-bottom: 1.5rem;
  }

  .mobile-info:nth-child(3) {
    margin-bottom: 1rem;
  }

  .mobile-info {
    display: flex;
    align-items: center;
    gap: 0.65rem;
  }

  .mobile-info-addres,
  .mobile-info-email {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #292d33;
  }

  .mobile-social {
    display: flex;
    align-items: center;
    gap: 0.95rem;
    margin-top: 1.3rem;
  }

  .close-menu .mobile-menu-line:nth-child(2) {
    display: none;
  }

  .close-menu .mobile-menu-line:nth-child(1) {
    transform: rotate(45deg) translateY(9px);
  }

  .close-menu .mobile-menu-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-9px);
  }

  .uniq .card-text {
    margin: 0;
  }

  .uniq-content {
    position: relative;
  }

  .uniq-svg {
    position: absolute;
    top: 1.875rem;
    left: 1.875rem;
    width: 100px;
    height: 100px;
  }

  .uniq .card-title {
    text-align: end;
    height: 100px;
    margin: 0;
    align-self: flex-end;
  }

  .uniq .card-text {
    align-self: flex-start;
  }

  .uniq-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .kunteynir {
    max-width: 40rem;
  }

  .header-title {
    max-width: 95%;
  }

  .header-content {
    padding-top: 4rem;
  }

  .card-basis,
  .card-uniq {
    flex-basis: 100%;
  }

  .section-title {
    font-size: 2.25rem;
  }
}

@media (max-width: 576px) {
  .kunteynir {
    max-width: 100%;
  }

  .header-image {
    background-position: bottom left;
    background-position-y: 4.6875rem;
    background-position-x: -44.125rem;
  }

  .header-title {
    margin-bottom: 1rem;
  }

  .header-text {
    margin-top: 0;
    width: 98%;
    font-size: 1.17rem;
    margin-bottom: 2.5rem;
  }

  .bts-main {
    width: 100%;
    font-size: 1.17rem;
  }

  .header-features {
    margin-top: 4.3rem;
  }

  .header-features-text {
    font-size: 1.17rem;
  }

  .section {
    margin-top: 8.3rem;
  }

  .section-min {
    margin-bottom: 6.3rem;
  }

  .section-title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  .steps-num {
    font-size: 4rem;
  }

  .steps-title {
    margin-top: 5px;
  }

  .steps-text {
    margin-bottom: 2.7rem;
  }

  .steps {
    margin-bottom: 0px;
  }

  .uniq .card-title {
    width: 60%;
    margin-bottom: 20px;
    margin-right: 20px;
  }

  .uniq .card-text {
    width: 100%;
  }

  .uniq-content {
    padding-right: 1.6rem;
  }

  .cards {
    margin-top: 2.5rem;
  }

  .card-text {
    letter-spacing: 0.4px;
    width: 100%;
    font-size: 1.17rem;
  }

  .card-title {
    line-height: 1.3;
  }

  .card-content {
    padding: 1.4rem 1.75rem 0 2.5rem;
  }

  .basis-text {
    margin-bottom: 25.6rem;
  }
}

@media (min-width: 375px) and (max-width: 399px) {
  .header-features-item:not(:last-child) {
    border-right: none;
  }
}
